{% extends 'base.html' %}
{% load static %}
{% block title %}Rooses Stockwaage{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Letzte Messung</h4>
                </div>
                <div class="card-body">
                    <h4>
                        {{ latest_measurement.weight }}kg |
                        {{ latest_measurement.temperature }}°C |
                        {{ latest_measurement.humidity }}%rF
                        {{ latest_measurement.pressure }}hPa
                    </h4>
                    <h6>{{ latest_measurement.timestamp|date:"d.m.Y H:i" }}</h6>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Gewichts&auml;nderung</h4>
                </div>
                <div class="card-body">
                    <h4>
                        Tag: {% if weight_delta.day > 0 %}+ {% endif %}{{ weight_delta.day }} kg |
                        Woche: {% if weight_delta.week > 0 %}+ {% endif %}{{ weight_delta.week }} kg |
                        Monat: {% if weight_delta.month > 0 %}+ {% endif %}{{ weight_delta.month }} kg
                    </h4>
                    <h6>&emsp;</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <canvas id="day_chart"></canvas>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'vendor/moment/moment.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
        {% with day_plot as plot %}
        {% include "plot/plot_template.js" %}
        {% endwith %}
    </script>

{% endblock %}